.wrapper{
    display: flex;
    height: 50px;
    width: 100vw;
    direction: row;
    align-items: start;
    justify-content: center;
    border-bottom: 2px;
    border-bottom: 3px solid black;
}
 #item1{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    padding: 2px;
 }
 #si1{
    flex: 1;

    margin: 5px;
    height: 40px;
    width: 7%;


 }

 #si2{
    flex: 2;

    margin-right: 30px;
    width: 15%;
    margin: 5px;
 }

 #item2{
   justify-content: center;
    display: flex;
    flex: 4;
    padding: 2px;
    flex-direction: row;
 }
 #si3{
    background-color: gray;
    margin-left: 30px;
    margin: 5px;
    height: 40px;
    width: 40%;
    border-radius: 40px;
   margin-bottom: 50px;
 }
 #search{
  height: 40px;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 50px;
 }
 #si4{
   width: 50px;
    margin: 5px;
    height: 40px;
    width: 7%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-right: 30px;
 }
 .imgsrh{
  height: 100%;
  width: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
 }

 #item3{
    justify-content: center;
    display: flex;
    border-radius: 1px;
    width: 10%;
    height: 40px;
    margin-right: 90px;
 }
#myButton{
   border-radius: 100%;
   width: 100%;
   height: 100%;
}
 .body{
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: row;
 }
 #strg{
   display: flex;
   flex: 12;
    flex-direction: column;
 }
 #video{
    display: flex;
    flex: 10;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 4px;
 }
 #rest{
    display: flex;
    flex: 3;
    flex-direction: column;
   
 }
 #title{
    display: flex;
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: 5px;
 }
 #chanel{
    display: flex;
    flex: 1.5;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
    
 }
 #cimg{
    flex: 1;    
    width: 7%;
    border-radius: 10px;
 }
 #cnam{
    flex: 2;
    width: 14%;
 
    padding-top: 10px;
    flex-direction: column;
 }
 #cna{
   flex: 1;
   margin-bottom: 10px;
   width: 100%;
 }
 #csu{
   flex: 1;
   width: 100%;
 }
 #sub{
    flex: 2;
    width: 12%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;

 }
 #myButton2{
   background-color: red;
   width: 100%;
   height: 40px;
   border-radius: 10px;

 }
 #ot1{
    flex: 3;
    width: 12%;
   margin-top: 30px;
 }
 #ot2{
    flex: 3;
    width: 7%;
    /* margin-left: 40px; */
    margin-top: 30px;

 }
 #myButton3{
   background-color: lightgray;
   width: 70%;
   height: 40px;
   border-radius: 5px;

 }
 #ot3{
    flex: 1;
    width: 7%;
 }
 #myButton4{
   width: 100%;
   margin-top: 30px;
   height: 40px;
   border-radius: 5px;
 }

 #des{
    display: flex;
    flex: 1;
 }
 #vede{
   display: flex;
   flex: 3;
   flex-direction: column;
   /* flex-wrap: wrap; */
 }

 .video11{
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    padding: 3px;
 }
 #videe{
   display: flex;
   flex: 1;
   background-color: aquamarine;
   margin-right: 2px;
 }
 #otht{
   display: flex;
   flex: 1;
    margin-bottom: 2px;
  flex-direction: column;
 }
 #tile{
   display: flex;
   flex: 2;

 }
 #cn{
   display: flex;
   flex: 1;

 }
 #ct{
   display: flex;
   flex: 1;

 }
